.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
python/mental_rotation/mental_rotation_modular.py
R/brms_vignette/brms_vignette_cache/html/__packages
R/brms_vignette/brms_vignette_cache/html/unnamed-chunk-15_87152a5054cf68ef9e97f4a520a16f72.RData
R/brms_vignette/brms_vignette_cache/html/unnamed-chunk-15_87152a5054cf68ef9e97f4a520a16f72.rdb
R/brms_vignette/brms_vignette_cache/html/unnamed-chunk-15_87152a5054cf68ef9e97f4a520a16f72.rdx
R/brms_vignette/brms_vignette_cache/html/unnamed-chunk-5_d791df5da1f41ccf878a99db90c5ce8a.RData
R/brms_vignette/brms_vignette_cache/html/unnamed-chunk-5_d791df5da1f41ccf878a99db90c5ce8a.rdb
R/brms_vignette/brms_vignette_cache/html/unnamed-chunk-5_d791df5da1f41ccf878a99db90c5ce8a.rdx
R/brms_vignette/brms_vignette_files/figure-html/unnamed-chunk-10-1.png
R/brms_vignette/brms_vignette_files/figure-html/unnamed-chunk-11-1.png
R/brms_vignette/brms_vignette_files/figure-html/unnamed-chunk-12-1.png
R/brms_vignette/brms_vignette_files/figure-html/unnamed-chunk-16-1.png
R/brms_vignette/brms_vignette_files/figure-html/unnamed-chunk-8-1.png
